__pycache__/

*.gz
*.npy
*.npz
*.pyc
*.pyd
*.so
*.ipynb
.ipynb_checkpoints
_build
_templates
build/
dist/
*.pkl
*.hd5
*.csv
*.out
*.html
*.dot
*.xml
*.log
.env
.vim
.nvimrc
.vscode
*.egg-info/
*.db
*.json
*.zip
*.bin
*.jpg
*.png
*.pdf
*.pth
*.pt

*.yml
*.h5
*.so
*.names
*.data
*.tes
*.tra
*.Z
*.pkl
*.hd5
*.csv
*.out

# special software
.pytest_cache/
.mypy_cache/
.vscode/
.history/
*.swp
./pretrain
.idea/
.DS_Store
node_modules/
cache/
tmp/
learnware_pool/
_build
build/
dist/
d3rlpy_logs/